.headline{
    text-align: center;
    color: rgb(208, 81, 133)

}

.newscard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    height: 40vh;
    min-height: 80vh;
    overflow: scroll;
}



.news-card{
    background-color: #E8EFFF;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 5px  8px rgba(43, 80, 169, 0.20);

   
}

.article-image{
    /* width: 10rem; */
    height: 8rem;
    object-fit: cover;
    border-radius: 5px;
}

